{% extends "base.html" %}

{% block content %}

  {% if form.errors %}
    <p>Error, please try again.</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Error, please try again.</p>
    {% endif %}
  {% endif %}

  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
      <tr>
        <td>Username: </td>
        <td>{{ form.username }}</td>
      </tr>
      <tr>
        <td>Password: </td>
        <td>{{ form.password }}</td>
      </tr>
    </table>
    <div class="container">
      <div class="justify-content-center">
        <input class="btn btn-success" type="submit" value="Log In" />
        <input type="hidden" name="next" value="{{ next }}" />
      </div>
    </div>
  </form>

  <p><a class="btn btn-warning" href="{% url 'password_reset' %}">Remind Password</a></p>

{% endblock %}