{% extends 'base.html' %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top">
      <div class="card-body">
        <h1>{% block title %} {{ object.title }} {% endblock title %}</h1>
        <p class=" text-muted">{{ article.user }} | {{ article.published }}</p>
        <p class="card-text ">{{ object.content | safe }}</p>
      </div>
    </div>
  </div>
</div>

</br>
  <h4>Comments:</h4>
  {% if post.comment_set.all %}
    {% for cmnt in post.comment_set.all %}
      <hr>
      <strong>{{ cmnt.commenting_user }}</strong>, <em>{{ cmnt.date_created}}</em>
      <p>{{ cmnt.content }}</p>
    {% endfor %}
  {% else %}
    <p>No Comments here</p>
  {% endif %}


{% endblock content %}
