{% extends "base.html" %}

{% block content %}
<div class="card text-center">
    {% for article in article_list %}
    <span class="border border-primary">
      <div class="card-header">
        {{ article.user }} | {{ article.published}}
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ article.title }}</h5>
        <p class="card-text">{{article.content|slice:":200" }}</p>
        <a href="{% url 'articles' article.id %}" class="btn btn-primary">Read more</a>
      </div>
    </span>
    {% endfor %}
</div>

<!--Puslapiavimas-->
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1" class="btn btn-info">< First</a>
            <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-info">Back</a>
        {% endif %}

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="btn btn-info">Next</a>
                <span class="current">
                    {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
                </span>
            <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-info">Last ></a>
        {% endif %}
    </span>
</div>
{% endblock %}
